{% extends 'base.html' %}
{% load static %}

{% block title %}Início - Estacionamento{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Bem-vindo ao Sistema de Estacionamento</h1>
    <p class="lead mb-4">Escolha uma opção para cadastrar um cliente:</p>

    <!-- Botões de cadastro -->




    <!-- Imagem de estacionamento -->
    <img src="{% static 'estacionamento.png' %}"
         class="img-fluid mx-auto d-block mt-5"
         style="width: 80%; max-height: 500px; object-fit: cover; border-radius: 30px"
         alt="Imagem de estacionamento">
</div>
{% endblock %}
