{% extends 'base.html' %}
{% load static %}

{% block title %}Início - Estacionamento{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Bem-vindo ao Sistema de Estacionamento</h1>
    <p class="lead mb-4">Escolha uma opção:</p>

    <div>
        <a class="btn btn-primary" href="{% url 'pessoas' %}">Pessoas</a>
        <a class="btn btn-secondary" href="#">Veiculos</a>
        <a class="btn btn-success" href="#">Estacionamento</a>
    </div>

    <img src="{% static 'estacionamento.png' %}"
         class="img-fluid mx-auto d-block mt-5"
         style="width: 80%; max-height: 500px; object-fit: cover; border-radius: 30px"
         alt="Imagem de estacionamento">
</div>
{% endblock %}
