{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center">Escolha se deseja cadastrar/visualizar pessoa fisica ou juridica</h2>
{#<div class="container mt-5 d-flex justify-content-center py-3">#}
{#    <div class="container mt-5 d-flex justify-content-center py-3">#}
{#        <button class="btn btn-primary">Cadastrar Pessoa Fisica</button>#}
{#        <button class="btn btn-primary">Visualizar Pessoa Fisica</button>#}
{#    </div>#}
{#</div>#}
{#<div class="container mt-5 d-flex justify-content-center py-3">#}
{#    <div class="container mt-5 d-flex justify-content-center py-3">#}
{#        <button class="btn btn-primary">Cadastrar Pessoa Juridica</button>#}
{#        <button class="btn btn-primary">Visualizar Pessoa Juridica</button>#}
{#    </div>#}
{#</div>#}

<div class="container mt-5 d-flex justify-content-center py-3 mb-4">
    <div class="d-flex justify-content-center gap-3">
        <a href="{% url 'clientes_pj_cadastrar' %}" class="btn btn-primary btn-lg">Cadastrar Pessoa Juridica</a>
        <a href="#" class="btn btn-primary btn-lg">Visualizar Pessoa Juridica</a>
    </div>
</div>

<div class="container d-flex justify-content-center py-3">
    <div class="d-flex justify-content-center gap-3">
        <a href="{% url 'clientes_pf_cadastrar' %}" class="btn btn-secondary btn-lg">Cadastrar Pessoa Fisica</a>
        <a href="#" class="btn btn-secondary btn-lg">Visualizar Pessoa Fisica</a>
    </div>
</div>


{% endblock %}
